* {
  margin: 0;
}
h1 {
  color: burlywood;
  font-family: "Alttp";
  font-size: 450%;
}
@font-face {
  font-family: "Alttp"; /*a name to be used later*/
  src: url("RetGanon.ttf");
}
p {
  font-family: "Alttp";
}
p.rows {
  margin-bottom: 10px;
}
p.menu {
  font-size: 2.5vw;
}
p.bottom {
  margin-bottom: 2%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #8f6e44;
}
.grid-item {
  justify-content: center;
  height: 100%;
  background-color: #b59367;
  border: 3px solid #8f6e44;
  font-size: 30px;
  text-align: center;
}
button {
  height: 100%;
  width: 100%;
  background-color: #b59367;
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  border: none;
  background: none;
  font-size: 90%;
  font-family: "Courier New", Courier, monospace;
}
.background {
  background-image: url(https://cdn.discordapp.com/attachments/757960040987754498/953225745021427772/Kakariko_village_street_texture.png);
  min-height: 100vh;
  background-repeat: repeat;
}
.core {
  width: 75%;
  margin: auto;
  text-align: center;
  background-color: #e9e0ca;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}
img.mainImg {
  width: 90%;
  margin-bottom: 2%;
}
img.smolImg {
  width: 70%;
}
